<%= form_with(model: my_thread, local: true) do |form| %>
  <% if my_thread.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(my_thread.errors.count, "error") %> prohibited this my_thread from being saved:</h2>

      <ul>
      <% my_thread.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :my_thread_title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body, id: :my_thread_body %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
